body{
	margin: 0px auto;
	padding: 0px;
	width: 1000px;
}
h1{
	color: darkblue;
	font-size: 20pt;
}
h2{
	color: darkblue;
	font-size: 18pt;
}
p{
	background: gray;
}
h4{
	color: blue;
	background-color: blueviolet;
	font-size: 30pt;
	border: solid 6px red;
	border-radius: 10px;
}